<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Activity</title>
</head>
<body>
    <h1>{{activity.title}}</h1>
    <p>{{activity.location}}</p>
    <p>{{activity.start_date}}</p>
    <p>{{activity.end_date}}</p>
    <p>{{activity.desc}}</p>
    <p>{{activity.price}}</p>
    <p>{{activity.city.name}}</p>
    <p>{{activity.added_by.first_name}}</p>
</body>
</html>